body {
<<<<<<< HEAD
    color: white;
   background-color: #333;
   font-size: 200%;
   font-family: 'Sacramento', cursive;
   margin: 5em 25%;
=======
   color: white;
   background-color: black;
   font-family: 'Sacramento', cursive;
   font-size: 32px;
   margin-top: 5%;
   margin-left: 20%;
   margin-right: 20%;
>>>>>>> 1844cdf5e7c1030655ed4aa558307c0b0892ace0
  }